## Automation Tool

### To calculate 'TOTAL Load in Erlang', 'Transit load in Erlang' & 'Tech2 load in Erlang' from Network Load Data Report

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

#### 1) Raw Network Load data id downloaded from Portal. Saved in local drive.

In [4]:
df = pd.read_csv('E:\\D Drive\\Study\\Analytics\\My Projects\\TECH_LOAD_DATA.csv')
df.head(3)

,Date_Time,UNIT_NAME,LOAD_CATAGORY,LOAD_ID,LOAD_TRAFFX100,LOAD_CS_AMOUNT
0,12.25.2007 00:00:00,UNIT03LOC1,---,18,0.0,0.0
1,12.25.2007 00:00:00,UNIT03LOC1,---,19,0.0,0.0
2,12.25.2007 00:00:00,UNIT03LOC1,TECH1 INTERNAL,37,745.0,188.0

#### 2) Calculate the No. of UNIT_NAME available in data

In [6]:
msc=df.UNIT_NAME.unique()
msc.sort()
total_msc=len(msc)
total_msc

26

#### 3) Calculate the No. of hours available in data

In [7]:
hour=df.Date_Time.unique()
hour.sort()
hour_len=len(hour)
hour_len

24

## 'TOTAL Load in Erlang' Calculation:

4) For each UNIT_NAME, 'TOTAL Load in Erlang' to be calculated from column sum of 'LOAD_TRAFFX100' with 'LOAD_ID'=2, 5 & 7 only 

5) 'LOAD_TRAFFX100' with 'LOAD_ID'=2, 5 & 7 to be summed for every hours. Max value among all hour's summed values to be considered as 'TOTAL Load in Erlang' for that UNIT_NAME

6) Display UNIT_NAME, Date_Time (hour for which max sum of 'LOAD_TRAFFX100' for "LOAD_ID'=2, 5 & 7" obtained) and value of 'TOTAL Load in Erlang'=Max[('LOAD_ID'=2, 5 & 7),sum(LOAD_TRAFFX100)] for that hour

In [8]:
#print("-"*50)
print("----TOTAL Load in Erlang----")

erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==2)|(df['LOAD_ID']==5)|(df['LOAD_ID']==7)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))

----TOTAL Load in Erlang----
AAGwUNIT04, 12.25.2007 19:00:00, 14355.48
AAGwUNIT06, 12.25.2007 20:00:00, 18699.69
AGwUNIT01LOC1, 12.25.2007 20:00:00, 30806.75
AGwUNIT02LOC4, 12.25.2007 20:00:00, 3496.26
ATUNIT01LOC2, 12.25.2007 20:00:00, 8467.9
AUNIT15LOC1, 12.25.2007 20:00:00, 41964.61
AUNIT16LOC4, 12.25.2007 20:00:00, 61667.4
AUNIT17LOC1, 12.25.2007 20:00:00, 71576.1
AUNIT18LOC1, 12.25.2007 19:00:00, 64657.97
AUNIT20LOC1, 12.25.2007 20:00:00, 50712.2
AUNIT21LOC4, 12.25.2007 19:00:00, 42132.53
AUNIT22LOC2, 12.25.2007 20:00:00, 50355.79
LUNIT01LOC3, 12.25.2007 12:00:00, 6464.35
LUNIT02LOC3, 12.25.2007 20:00:00, 8735.9
UNIT01LOC3, 12.25.2007 20:00:00, 10791.1
UNIT03LOC1, 12.25.2007 20:00:00, 6701.4
UNIT06LOC4, 12.25.2007 20:00:00, 3208.15
UNIT07LOC1, 12.25.2007 19:00:00, 18649.84
UNIT08LOC3, 12.25.2007 20:00:00, 17262.6
UNIT09LOC4, 12.25.2007 20:00:00, 16790.21
UNIT10LOC3, 12.25.2007 20:00:00, 20723.94
UNIT11LOC1, 12.25.2007 20:00:00, 17175.03
UNIT12LOC4, 12.25.2007 20:00:00, 19762.47
UNIT13LOC3, 12.25.2007 20:00:00, 19895.22
UNIT14LOC1, 12.25.2007 20:00:00, 20857.71
UNIT19LOC2, 12.25.2007 12:00:00, 2152.0

## 'Transit load in Erlang' Calculation:

7) For each UNIT_NAME, 'Transit load in Erlang' to be calculated from column 'LOAD_TRAFFX100' with 'LOAD_ID'=2 only

8) 'LOAD_TRAFFX100' with 'LOAD_ID'=2 to be taken for all hours. Max value among all hour's values to be considered as 'Transit load in Erlang' for that UNIT_NAME

9) Display UNIT_NAME, Date_Time (hour for which max sum of 'LOAD_TRAFFX100' for "LOAD_ID'=2" obtained) and value of 'Transit load in Erlang'=Max[('LOAD_ID'=2),sum(LOAD_TRAFFX100)] for that hour

In [9]:
print("----Transit load in Erlang----")    
# Final Transit

erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==2)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))

----Transit load in Erlang----
AAGwUNIT04, 12.25.2007 19:00:00, 14355.48
AAGwUNIT06, 12.25.2007 20:00:00, 18699.69
AGwUNIT01LOC1, 12.25.2007 20:00:00, 30806.75
AGwUNIT02LOC4, 12.25.2007 20:00:00, 3496.26
ATUNIT01LOC2, 12.25.2007 20:00:00, 8467.9
AUNIT15LOC1, 12.25.2007 20:00:00, 3859.65
AUNIT16LOC4, 12.25.2007 20:00:00, 4803.35
AUNIT17LOC1, 12.25.2007 20:00:00, 8391.5
AUNIT18LOC1, 12.25.2007 19:00:00, 2212.14
AUNIT20LOC1, 12.25.2007 20:00:00, 3763.93
AUNIT21LOC4, 12.25.2007 19:00:00, 2308.47
AUNIT22LOC2, 12.25.2007 20:00:00, 2923.45
LUNIT01LOC3, 12.25.2007 12:00:00, 6464.35
LUNIT02LOC3, 12.25.2007 20:00:00, 8735.9
UNIT01LOC3, 12.25.2007 20:00:00, 1018.9
UNIT03LOC1, 12.25.2007 20:00:00, 1731.75
UNIT06LOC4, 12.25.2007 20:00:00, 225.5
UNIT07LOC1, 12.25.2007 19:00:00, 4895.62
UNIT08LOC3, 12.25.2007 20:00:00, 10733.05
UNIT09LOC4, 12.25.2007 20:00:00, 9541.13
UNIT10LOC3, 12.25.2007 20:00:00, 13017.17
UNIT11LOC1, 12.25.2007 20:00:00, 5505.94
UNIT12LOC4, 12.25.2007 20:00:00, 10715.23
UNIT13LOC3, 12.25.2007 20:00:00, 5456.13
UNIT14LOC1, 12.25.2007 20:00:00, 8731.68
UNIT19LOC2, 12.25.2007 12:00:00, 2037.6

## 'Tech2 load in Erlang' Calculation:


7) For each UNIT_NAME, 'Tech2 load in Erlang' to be calculated from column sum of 'LOAD_TRAFFX100' with 'LOAD_ID'=32 & 33 only 

8) 'LOAD_TRAFFX100' with 'LOAD_ID'=32 & 33 to be summed for every hours. Max value among all hour's summed values to be considered as 'Tech2 load in Erlang' for that UNIT_NAME

9) Display UNIT_NAME, Date_Time (hour for which max sum of 'LOAD_TRAFFX100' for "LOAD_ID'=32 & 33" obtained) and value of 'Tech2 load in Erlang'=Max[('LOAD_ID'=32 & 33),sum(LOAD_TRAFFX100)]

In [ ]:
print("----Tech2 Load in Erlang----")     
# Final Tech2
erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==32)|(df['LOAD_ID']==33)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))

In [10]:
print("----Tech2 Load in Erlang----")     
# Final Tech2
erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==32)|(df['LOAD_ID']==33)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))

----Tech2 Load in Erlang----
AAGwUNIT04, 12.25.2007 23:00:00, 0.0
AAGwUNIT06, 12.25.2007 23:00:00, 0.0
AGwUNIT01LOC1, 12.25.2007 23:00:00, 0.0
AGwUNIT02LOC4, 12.25.2007 23:00:00, 0.0
ATUNIT01LOC2, 12.25.2007 23:00:00, 0.0
AUNIT15LOC1, 12.25.2007 20:00:00, 16904.95
AUNIT16LOC4, 12.25.2007 19:00:00, 12276.2
AUNIT17LOC1, 12.25.2007 20:00:00, 44297.45
AUNIT18LOC1, 12.25.2007 19:00:00, 29138.99
AUNIT20LOC1, 12.25.2007 20:00:00, 16198.09
AUNIT21LOC4, 12.25.2007 19:00:00, 9597.62
AUNIT22LOC2, 12.25.2007 16:00:00, 0.22
LUNIT01LOC3, 12.25.2007 23:00:00, 0.0
LUNIT02LOC3, 12.25.2007 23:00:00, 0.0
UNIT01LOC3, 12.25.2007 20:00:00, 3407.1
UNIT03LOC1, 12.25.2007 17:00:00, 0.35
UNIT06LOC4, 12.25.2007 20:00:00, 1419.65
UNIT07LOC1, 12.25.2007 20:00:00, 2026.85
UNIT08LOC3, 12.25.2007 20:00:00, 5813.05
UNIT09LOC4, 12.25.2007 20:00:00, 6432.32
UNIT10LOC3, 12.25.2007 20:00:00, 3313.17
UNIT11LOC1, 12.25.2007 20:00:00, 1246.63
UNIT12LOC4, 12.25.2007 20:00:00, 5438.85
UNIT13LOC3, 12.25.2007 20:00:00, 5979.78
UNIT14LOC1, 12.25.2007 22:00:00, 1.45
UNIT19LOC2, 12.25.2007 23:00:00, 0.0

## Final Code to run at one go

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('E:\\D Drive\\Study\\Analytics\\My Projects\\TECH_LOAD_DATA.csv')
df.head(1)
msc=df.UNIT_NAME.unique()
msc.sort()
total_msc=len(msc)
hour=df.Date_Time.unique()
hour.sort()
hour_len=len(hour)

#print("-"*50)
print("----TOTAL Load in Erlang----")


erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==2)|(df['LOAD_ID']==5)|(df['LOAD_ID']==7)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))


print("----Transit load in Erlang----")    
# Final Transit

erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==2)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))

print("----Tech2 Load in Erlang----")     
# Final Tech2
erl1=0
for j in range(total_msc):
    erl1=0
    for i in range(hour_len):
        erl=df.loc[(df['Date_Time']==hour[i])&(df['UNIT_NAME']==msc[j]) & ((df['LOAD_ID']==32)|(df['LOAD_ID']==33)), 'LOAD_TRAFFX100'].sum()
        if erl>=erl1:
            erl1=erl
            busyhour=hour[i]
    print("{}, {}, {}".format(msc[j],busyhour,erl1.round(2)/100))

----TOTAL Load in Erlang----
AAGwUNIT04, 12.25.2007 19:00:00, 14355.48
AAGwUNIT06, 12.25.2007 20:00:00, 18699.69
AGwUNIT01LOC1, 12.25.2007 20:00:00, 30806.75
AGwUNIT02LOC4, 12.25.2007 20:00:00, 3496.26
ATUNIT01LOC2, 12.25.2007 20:00:00, 8467.9
AUNIT15LOC1, 12.25.2007 20:00:00, 41964.61
AUNIT16LOC4, 12.25.2007 20:00:00, 61667.4
AUNIT17LOC1, 12.25.2007 20:00:00, 71576.1
AUNIT18LOC1, 12.25.2007 19:00:00, 64657.97
AUNIT20LOC1, 12.25.2007 20:00:00, 50712.2
AUNIT21LOC4, 12.25.2007 19:00:00, 42132.53
AUNIT22LOC2, 12.25.2007 20:00:00, 50355.79
LUNIT01LOC3, 12.25.2007 12:00:00, 6464.35
LUNIT02LOC3, 12.25.2007 20:00:00, 8735.9
UNIT01LOC3, 12.25.2007 20:00:00, 10791.1
UNIT03LOC1, 12.25.2007 20:00:00, 6701.4
UNIT06LOC4, 12.25.2007 20:00:00, 3208.15
UNIT07LOC1, 12.25.2007 19:00:00, 18649.84
UNIT08LOC3, 12.25.2007 20:00:00, 17262.6
UNIT09LOC4, 12.25.2007 20:00:00, 16790.21
UNIT10LOC3, 12.25.2007 20:00:00, 20723.94
UNIT11LOC1, 12.25.2007 20:00:00, 17175.03
UNIT12LOC4, 12.25.2007 20:00:00, 19762.47
UNIT13LOC3, 12.25.2007 20:00:00, 19895.22
UNIT14LOC1, 12.25.2007 20:00:00, 20857.71
UNIT19LOC2, 12.25.2007 12:00:00, 2152.0
----Transit load in Erlang----
AAGwUNIT04, 12.25.2007 19:00:00, 14355.48
AAGwUNIT06, 12.25.2007 20:00:00, 18699.69
AGwUNIT01LOC1, 12.25.2007 20:00:00, 30806.75
AGwUNIT02LOC4, 12.25.2007 20:00:00, 3496.26
ATUNIT01LOC2, 12.25.2007 20:00:00, 8467.9
AUNIT15LOC1, 12.25.2007 20:00:00, 3859.65
AUNIT16LOC4, 12.25.2007 20:00:00, 4803.35
AUNIT17LOC1, 12.25.2007 20:00:00, 8391.5
AUNIT18LOC1, 12.25.2007 19:00:00, 2212.14
AUNIT20LOC1, 12.25.2007 20:00:00, 3763.93
AUNIT21LOC4, 12.25.2007 19:00:00, 2308.47
AUNIT22LOC2, 12.25.2007 20:00:00, 2923.45
LUNIT01LOC3, 12.25.2007 12:00:00, 6464.35
LUNIT02LOC3, 12.25.2007 20:00:00, 8735.9
UNIT01LOC3, 12.25.2007 20:00:00, 1018.9
UNIT03LOC1, 12.25.2007 20:00:00, 1731.75
UNIT06LOC4, 12.25.2007 20:00:00, 225.5
UNIT07LOC1, 12.25.2007 19:00:00, 4895.62
UNIT08LOC3, 12.25.2007 20:00:00, 10733.05
UNIT09LOC4, 12.25.2007 20:00:00, 9541.13
UNIT10LOC3, 12.25.2007 20:00:00, 13017.17
UNIT11LOC1, 12.25.2007 20:00:00, 5505.94
UNIT12LOC4, 12.25.2007 20:00:00, 10715.23
UNIT13LOC3, 12.25.2007 20:00:00, 5456.13
UNIT14LOC1, 12.25.2007 20:00:00, 8731.68
UNIT19LOC2, 12.25.2007 12:00:00, 2037.6
----Tech2 Load in Erlang----
AAGwUNIT04, 12.25.2007 23:00:00, 0.0
AAGwUNIT06, 12.25.2007 23:00:00, 0.0
AGwUNIT01LOC1, 12.25.2007 23:00:00, 0.0
AGwUNIT02LOC4, 12.25.2007 23:00:00, 0.0
ATUNIT01LOC2, 12.25.2007 23:00:00, 0.0
AUNIT15LOC1, 12.25.2007 20:00:00, 16904.95
AUNIT16LOC4, 12.25.2007 19:00:00, 12276.2
AUNIT17LOC1, 12.25.2007 20:00:00, 44297.45
AUNIT18LOC1, 12.25.2007 19:00:00, 29138.99
AUNIT20LOC1, 12.25.2007 20:00:00, 16198.09
AUNIT21LOC4, 12.25.2007 19:00:00, 9597.62
AUNIT22LOC2, 12.25.2007 16:00:00, 0.22
LUNIT01LOC3, 12.25.2007 23:00:00, 0.0
LUNIT02LOC3, 12.25.2007 23:00:00, 0.0
UNIT01LOC3, 12.25.2007 20:00:00, 3407.1
UNIT03LOC1, 12.25.2007 17:00:00, 0.35
UNIT06LOC4, 12.25.2007 20:00:00, 1419.65
UNIT07LOC1, 12.25.2007 20:00:00, 2026.85
UNIT08LOC3, 12.25.2007 20:00:00, 5813.05
UNIT09LOC4, 12.25.2007 20:00:00, 6432.32
UNIT10LOC3, 12.25.2007 20:00:00, 3313.17
UNIT11LOC1, 12.25.2007 20:00:00, 1246.63
UNIT12LOC4, 12.25.2007 20:00:00, 5438.85
UNIT13LOC3, 12.25.2007 20:00:00, 5979.78
UNIT14LOC1, 12.25.2007 22:00:00, 1.45
UNIT19LOC2, 12.25.2007 23:00:00, 0.0